body, textarea {
	background: #333;
	color: #eee;
	font-family: monospace;
}

textarea {
	background: #222;
	width: 100%;
	height: 100px;
	resize: none;
}

#filename {
	font-weight: bold;
	font-size: 120%;
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 2px #eee solid;
}

#details {
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

#details div {
	background: rgb(43, 43, 43);
	padding-left: 1em;
	margin: 5px;
	padding-right: 1em;
}

#details span {
	font-weight: 100;
	position: absolute;
	left: 7em;
}

.page-centre {
	position: absolute;
	margin: 0px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.patch-container {
	width: 50%;
}